/* Commerce kickstart styles */


/* invoice styles */
h3.invoice-header {

}

.invoice-address {
  margin-bottom: 50px;
}

div.commerce-invoice .prefix {
  font-weight: bold;
}




/* Catman Report overrides */



div.view-display-id-catman_dashboard {
  background-image: url(images/catman.jpg);
  /*background-position: 0 left;*/
  background-repeat: no-repeat;
  min-height: 500px;
  padding-left: 350px;
}


/* modfified commerece_reports css */
.view-catman-reports .form-item-startDate .form-item,
.view-catman-reports .form-item-endDate .form-item {
  display: block;
  float: none;
  padding: 0;
}

.view-catman-reports .form-item-startDate .form-type-select,
.view-catman-reports .form-item-endDate .form-type-select {
  display: inline-block;
  width: 100px;
}

.view-catman-reports .form-item-startDate label,
.view-catman-reports .form-item-endDate label {
  float: inherit;
  display: block;
}

.view-catman-reports #edit-startdate,
.view-catman-reports #edit-enddate {
  display: block;
}

/*#edit-submit-commerce-reports-sales {
  margin-top: 15px;
}*/

.catman-reports .views-exposed-form .date-padding input {
  background-image: url(images/calendar.png);
  background-position: 95% center;
  background-repeat: no-repeat;
}

.catman-reports .views-exposed-form #edit-date-filter-min-wrapper,
.catman-reports .views-exposed-form #edit-date-filter-max-wrapper {
  float: left;
}



.catman-reports .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 2.0em;
}


.catman-reports .view-header {
  font-size: 1.25em;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.catman-reports .view-grouping-header {
  font-size: 1.125em;
  text-align: left;
  font-weight: 600;
}

div.content > div.catman-reports {
 /* border-top: 1px solid #bebfb9;*/
  margin-top: 2.0em;

}

.catman-reports .views-table caption {
  text-align: left;
  font-size: 1.125em;
}

.attachment-before table.views-table {
  width: 40%;
  white-space: nowrap;
  margin-bottom: 1.25em;
}

table.views-table .views-field-balance,
table.views-table .product-value,
table.views-table .quantity-available,
table.views-table .cost-per-copy,
table.views-table .retail-price {
  text-align: right;
}

table.views-table tr.summary td {
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
}

.catman-reports .field-commerce-customer-billing {
  margin-bottom: 0;
  margin-left: 0;
}

.catman-reports h3 {
  font-weight: normal;
}

/* don't show full billing profile, just name and phone */
.catman-reports .street-block,
.catman-reports .locality-block,
.catman-reports .field-commerce-customer-address span.country {
  display: none;
}


div.view-id-catman_inventory {
  margin-top: 2.0em;
}

#edit-commerce-stock-value-wrapper .views-operator,
#edit-commerce-stock-value-wrapper .views-widget {
  display: inline-block;
  vertical-align: top;
}

.form-item-commerce-stock-value-value {
  width: 4em;
}


/* general report overrides */

.commerce-backoffice-view .views-exposed-form .views-widget-filter-combine {
  padding: 1em 2em 1em 1em !important;
  position: relative !important;
}

#edit-submit-commerce-reports-sales {
  margin-top: 0 !important;
}

.form-item-htmlmail-plaintext {
  display: none;
}










/*---------------------------------------------------------------------------------------------------------------*/
/*--------------------------------Viewport rules below here------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
@media (min-width: 1200px) {

}

@media (max-width: 1199px) {
  /* Hide cover image */
   /* .node-type-food-issue-menu-item .region-sidebar-first,
    .node-type-article .region-sidebar-first,
    .node-type-oap-focus-subject .region-sidebar-first,
    .node-type-oap-sections .region-sidebar-first {
      display: none;
    }*/
}

@media (max-width: 1199px) and (min-width: 980px) {
  /* Hide cover image */
    /*.node-type-food-issue-menu-item #page-wrapper > .row > .span9,
    .node-type-article #page-wrapper > .row > .span9,
    .node-type-oap-focus-subject #page-wrapper > .row > .span9,
    .node-type-oap-sections #page-wrapper > .row > .span9 {
      width: 976px;*/
    }
    /*.node-type-food-issue-menu-item #page-wrapper > .row > .span9 > .row > .span6,
    .node-type-article #page-wrapper > .row > .span9 > .row > .span6,
    .node-type-oap-focus-subject #page-wrapper > .row > .span9 > .row > .span6,
    .node-type-oap-sections #page-wrapper > .row > .span9 > .row > .span6 {
      width: 727px;*/
    }
}

@media (min-width: 980px) {
  /* Graphical-search apply button */
    /*.view-id-magazine_search .views-submit-button {
      padding-top: 33px;
      clear: none;*/
    }
}

@media (max-width: 979px) {
  /* Articles list */
    /*.view-magazine-articles .view-content .views-row {
      padding-bottom: 1.5em;*/
    }
}

@media (min-width: 768px) {

}

@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 767px) {
  /* Articles list */
    /*.view-magazine-articles .view-content .views-row .span2 {
    margin-bottom: 0.3em;*/
    }



  /*  ---- Sidebar - Secondary ------------------------------------------------------------ */
    #sidebar-second .content {
      width: auto;
      margin: 0;
    }
    /*#sidebar-second #block-views-article-list-block-1 .content .views-row .views-field-field-teaser-image {
      float: left;
    }
    #sidebar-second #block-views-article-list-block-1 .content .views-row .views-field-title {
      margin-left: 120px;
      padding-bottom:10px;
    }
    #sidebar-second #block-views-article-list-block-1 .content .views-row .views-field-view .views-field-title {
      margin-left: 0;
      padding-bottom:0;
    }
    #sidebar-second #block-views-article-list-block-1 .content .views-row .views-field-view {
      margin-left: 120px;
    }

    #sidebar-second #block-views-article-list-block-1 .content .views-row {
      max-width: none;
    }
    #sidebar-second #block-views-article-list-block-1 .view-display-id-block_4 .views-field-title {
      padding-bottom: 15px;*/
    }

  /*Article Sub-Title*/
    /*.node-article .field-name-field-sub-title {
      line-height: 1.2em;
    }*/
}

@media (min-width: 540px) {

}

@media (max-width: 540px) {
  /* Stories block padding */
    #block-menu-block-1 {
      padding: .4em;
    }

  /* hide environment indicator on samll screen sizes */
    #environment-indicator  {
      display: none;
    }

}



  /*  ---- Sidebar - Secondary ------------------------------------------------------------ */
    /*#sidebar-second .content {
      width: auto;
      margin: 0;
    }
    #sidebar-second .content .views-row {
      margin: 0 auto;
      max-width: 373px;
    }
    #sidebar-second .content .views-row .views-field-field-teaser-image {
      float: left;
    }
    #sidebar-second .content .views-row .views-field-title {
      float: left;
      max-width: 253px;
      padding-left: 10px;
    }*/
}

@media (min-width: 481px) and (max-width: 540px) {

}

@media (max-width: 480px) {
  /*Article image styling*/

    div.caption {
      width:100%;
    }

    div.caption div.caption-inner {
      float: none;
      margin: 0 auto;
    }
}

/* reduce footprint of workbench tables  */
.my-workbench table,
.my-workbench table th,
.my-workbench table tr,
.my-workbench table td {
  font-size: 0.938em;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* make workbench info block smaller and floated right */
div.workbench-info-block {
  width: 25%;
  float: right;
  padding-left: 1.0em !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background: #f5f5f5 !important;
  border-style: dotted dotted none !important;
  border-radius: 4px;
  border-color: #e3e3e3 !important;
  margin-top: -3px !important;
  font-size: 0.875em !important;
}

/* Limit the list of states to just main 50 and DC */
select option:nth-child(n+53) {
  display: none;
}




